# > App
APP_NAME=ISAProject2023270048

# > Database
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:9911/isaproject_2023270048
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DIALECT=org.hibernate.dialect.MySQLDialect

# > Server
PORT=8080
