<div class="login-wrapper">
    <form class="login-form" [formGroup]="form" (submit)="changePassword()">
        <h1>Change Password</h1>
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input type="password" matInput formControlName="oldPassword">
            @if (form.get("oldPassword")?.hasError('required')) {
            <mat-error>Field is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="newPassword">
            @if (form.get("newPassword")?.hasError('required')) {
            <mat-error>Field is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <section class="login-buttons">
            <button [disabled]="!form.valid" type="submit" matButton="filled">Register</button>
            <button type="reset" matButton="outlined">Clear</button>
        </section>
    </form>
</div>